{% extends 'blog/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/bootstrap.css' %}">

{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}
<br><br>
<div>
  <div class="flex flex-col text-center w-full mb-20">
    <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">{{posts.username.email}}</h2>
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"> Posts By - <b class="text-blue-400" >{{view.kwargs.username}} </b></h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
  </div>  {% for post in posts %}
  <section class="text-gray-700 body-font overflow-hidden ">
    <div class="container px-5 py-16 mx-auto">
      <div class="-my-8">
        <div class="py-8 flex flex-wrap md:flex-no-wrap">
          <div class="md:w-34 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="tracking-widest font-medium title-font text-gray-900"></span>
            <div
              class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full  text-indigo-500 flex-shrink-0">
              <div class="w-1/1 sm:w-1/1 px-4">
                <img src="https://cdn.pixabay.com/photo/2020/07/20/12/49/milky-way-5422901__340.jpg" alt="..."
                  class="shadow-lg rounded-full h-24 align-content-end border-none">
              </div>
            </div>
          </div>
          <div class="md:flex-grow">
            <span class="mt-1 text-gray-500 text-sm float-right">{{post.date_posted}}</span>
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{post.title}}</h2>
            <a href=""><small class="text-indigo-500"> {{post.author}} </small></a>
            <p class="leading-relaxed">{{post.content}}</p>
            <a href="{% url 'post-detail' post.id %}" class="text-indigo-500 inline-flex items-center mt-4">ContinueReading
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        
        {% if request.user == post.author %}
        <a href="{% url 'post-update' post.id %} "
          class="float-right nline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
          Update Post </a>
        <a href="{% url 'post-update' post.id %} "
          class="float-right nline-flex mr-4 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
          Delete Post </a>
        {% endif %}
      </div>

    </div>
</div>
</section>
{% endfor %}

</div>
{% endblock content %}